:root {
  --mini-img-width: 400px;
  --mini-img-height: 100px;
  --color1: #FDC63F;
  --color2: #090B4D;
  --color3: #F90005;
  --p2-color1: yellow;
  --p2-color2: cyan;
  --p2-color3: magenta;
}

a {
  text-decoration: none
}

.HobbyMiniCard {
  margin: 0px 0 25px 0px;
  width: var(--mini-img-width);
  padding: 10px 0 0 0;
}

.HobbyMiniCard .colorHolder {
  width: var(--img-size);
  height: 150px;
  display: grid;
  grid-template-columns: 20% 30% auto;
  position: absolute;
  z-index: -100;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
  box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
}

.HobbyMiniCard img {
  object-fit:cover;
  width: var(--mini-img-width);
  height: var(--mini-img-height);
}

.HobbyMiniCard h3 {
  color: white;
  padding: 0;
  margin: 10px 0;
}
