@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.box{
  width: 100px;
  height: 100px;
  /* font-size: 13px; */
  /* display: block; */
  border-radius: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
  box-shadow: 0px 14px 23px 2px rgba(0,0,0,0.08);
}

.like {
  background: #F90005;
  right: 10%;
  margin: 0;
  bottom: 1%;
  position: fixed;
}

.dislike {
  background: black;
  left: 10%;
  margin: 0;
  bottom: 1%;
  position: fixed;
}

a.box {
  text-decoration: none;
  color: #fff;
  -webkit-transition: -webkit-transform 0.1s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.box:hover{
	-webkit-transform: scale(1.05);
}

a.box:active{
	-webkit-transform: scale(1);
}

i {
  font-size: 60px;
  text-align: center;
  display: block;
  margin-top: 10px; /* outside Codepen is actually 30px */
  color:#fff;
  font-family: "Open Sans", arial;
  font-weight:300;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -ms-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
}
